<!DOCTYPE html>
<html lang="ko">
<head>
<title>스팀잇중고월드</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" type="image/png" href="//steemitimages.com/u/kr-used/avatar" sizes="128x128" />
<link href='//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css' rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Noto+Sans+KR:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/vuetify/1.3.5/vuetify.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
</head>
<body>
<div id="app" v-cloak>  
  <v-app>
		<v-toolbar
      :color="theme"
      :dark="dark"
      app
      fixed>
			<v-toolbar-title style="width: 300px" class="ml-0 pl-3">
				<v-avatar size="32px" >
					<img src="https://steemitimages.com/u/kr-used/avatar" alt="kr-used">
				</v-avatar>
        <span class="ml-1">스팀잇중고월드</span>
      </v-toolbar-title>
      <!-- <v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="search"
        label="Search"
        class="hidden-sm-and-down"
      ></v-text-field> -->
			<v-spacer></v-spacer>
			<v-toolbar-items>
				<v-divider vertical></v-divider>
				<v-btn flat to='/'>HOME</v-btn>
				<v-divider vertical></v-divider>
				<v-btn flat to='/kr-sellused'>판매글</v-btn>
				<v-divider vertical></v-divider>
				<v-btn flat to='/kr-buyused'>구매글</v-btn>
				<v-divider vertical></v-divider>
			</v-toolbar-items>
    </v-toolbar>
    <v-content>
			<div>
				<v-alert
					v-model="alert"
					dismissible
					type="info">
					<a href='https://steemit.com/kr-used/@kr-used/5m7uvj-kr-used' target='_blank' class="white--text">[공지] kr-used 양식 , 유의사항 , 오픈채팅 , 텔레그램 한번에 보기</a>
				</v-alert>
				<div class="text-xs-center">
					<v-btn
						v-if="!alert"
						color="primary"
						dark
						@click="alert = true">
						Reset
					</v-btn>
				</div>
			</div>

			<keep-alive>
				<router-view></router-view>
			</keep-alive>
				
			<v-footer
				height="auto"
				absolute='true'
				:color="theme"
				:dark="dark">
					<v-layout
							justify-center
							row wrap>
						<v-flex
							py-3
							text-xs-center
							white--text
							xs12>
							&copy;2018 — <strong><a href='https://steemit.com/@kr-used' target="_blank" class="white--text">@kr-used</a></strong>
					</v-flex>
				</v-layout>
			</v-footer>
    </v-content>
  </v-app>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vuetify/1.3.5/vuetify.min.js"></script>
<!-- <script src="//cdn.rawgit.com/showdownjs/showdown/1.8.6/dist/showdown.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
<script src="//cdn.steemjs.com/lib/latest/steem.min.js"></script>

<script id="ListComponent" type='text/template'>
<v-container grid-list-md class='mb-5'>
	<v-layout justify-center row wrap v-if="items && items.length > 0">
		<v-flex 
			xs12 sm6 md4 lg3 xl3
			v-for="item in items" 
			:key='item.id'>
			<v-hover>
				<v-card slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`">
					<v-img
						:src="'https://steemitimages.com/0x200/' + item.image_url"
						:aspect-ratio="16/9"
					><div class="fill-height bottom-gradient"></div></v-img>
					<v-card-title>
						<div>
							<h5 class="headline mb-0"><a href='#' @mouseover="selected = item.id" @click.prevent='dialogShow = true'>{{ item.title }}</a></h5>
							<!-- <h5 class="headline mb-0">
								<router-link :to="'/@' + item.author + '/' + item.permlink">{{item.title}}</router-link>
							</h5> -->
							<div class='ellipsis-text' v-html='item.summary'></div>
							<div class="grey--text mt-2">
								by <a :href="'https://steemit.com/@' + item.author" onclick='return !window.open(this.href)'>@{{item.author}}</a> <i>on {{item.created}}</i>
							</div>
						</div>
					</v-card-title>
					<v-divider></v-divider>
					<v-card-actions class='pl-3 pr-2'>
						<b class='text-muted'><span class='icon_like'>♥</span> {{item.net_votes}}</b>
						<v-spacer></v-spacer>
						<b class='text-muted'>$ {{item.payout_value}}</b>
					</v-card-actions>
				</v-card>
			</v-hover>
		</v-flex>
		<DialogComponent :show="dialogShow" :post="post" @close="dialogClose"></DialogComponent>
	</v-layout>
	<div class="text-xs-center" v-show='busy'>
		<v-progress-linear
				:active="busy"
				:indeterminate="true"
			></v-progress-linear>
			<span class='progress-text' data-text="It's loading...">It's loading...</span>
	</div>
</v-container>
</script>

<script id="DialogComponent" type='text/template'>
<v-dialog v-model="show" scrollable persistent transition="dialog-bottom-transition" max-width="600px">
	<v-card>
		<v-card-title
			class="headline"
			primary-title> 
			<h3 class='headline'>{{ post.title }}</h3>
		</v-card-title>
		<v-divider></v-divider>
		<v-card-text>
			<div class='post_body'>
				<component :is="dynamicComponent" />
				<v-chip label small color="blue-grey lighten-2" text-color="white" v-for='tag in post.tags' :key='tag'>
					<v-icon left>label</v-icon>{{tag}}
				</v-chip>
			</div>
		</v-card-text>
		<v-divider></v-divider>
		<v-card-actions>
			<v-spacer></v-spacer>
			<!-- <v-btn></v-btn> -->
			<v-btn color="primary"  depressed :href="'https://steemit.com' + post.url" target='_blank'>
				go <i>steemit.com</i>
				<v-icon right dark>launch</v-icon>
			</v-btn>
			<v-btn depressed color="blue-grey" dark @click="close">Close</v-btn>
		</v-card-actions>
	</v-card>
</v-dialog>
</script>

<!-- Load Babel -->
<!-- v6 <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> -->
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script type="text/babel">
const md = new Remarkable({
  html: true,
  linkify: true,
  typographer: true,
  quotes: '“”‘’',
  breaks: true
});

const DialogComponent = { 
	template: '#DialogComponent',
	name: 'Dialog',
	props: ['post', 'show'],
	computed: {
		dynamicComponent: function() {
      if(!this.post.body) return "";
			let body = (this.post.body || '');
			// console.log(body);
			// URL 처리
			const find_urls = (`\n${body}`.match(/[^\(='"\/\\](http(s)?:\/\/steemitimages.com\/([0-9]+x[0-9]+)\/)?http(s)?:\/\/(\w*:\w*@)?[-\w.]+(:\d+)?(\/([-\w/_.]*(\?\S+)?)?)?/g) || []).reduce(function(a,b){if(a.indexOf(b)<0)a.push(b);return a;},[]);
			// console.log(find_urls);
			for(let i=0, s=find_urls.length, url = find_urls[i]; i<s; i++, url = find_urls[i]) {
        url = url.replace(/(^>|\s)/g, '');
				if(url.indexOf('youtu')!==-1) {
          const [_,youTubeId] = url.match(/(?:(?:youtube.com\/watch\?v=)|(?:youtu.be\/)|(?:youtube.com\/embed\/))([A-Za-z0-9\_\-]+)/i);
					body = body.replace(url, `<iframe width="640" height="360" src="https://www.youtube.com/embed/${youTubeId}?autoplay=0&amp;autohide=0&amp;enablejsapi=0&amp;rel=0&amp;origin=https://steemit.com" frameborder="0" allowfullscreen=""></iframe>`);
				};
        if(/(.(?:tiff?|jpe?g|gif|png|svg|ico))$/.test(url) || /ipfs.busy/.test(url)) {
          body = body.replace(new RegExp(`${url}`, 'g'), `<img src='${url}'/>`);
				};			
			};
			// 마크다운 HTML 변환
			body = md.render(body);
			// 외부 링크 처리
			body = body.replace(/(?:<a [^>]*(?:href="([^>^\"]*)")[^>]*>)/gi, `<a href='$1' target='_blank'>`);
		  return {
        template: `<div>${body}</div>`,
		  }
		}
	},
	methods: {
		close() {
			this.$emit('close');
		}
	}
}

const ListComponent = { 
	template: '#ListComponent',
	name: 'List',
	data () {
		return {
			items: [],
			busy: true,
			dialogShow: false,
			selected: false,
			// post: {},
		}
	},
	components: {
		DialogComponent,
	},
	computed: {
		post() {
			return this.selected ? this.items.filter((e) => (e.id === this.selected))[0] : {};
		}
	},
	watch: {
		'dialogShow': (value) => {
			console.log('dialogShow', value);
			if(!value) {
				document.querySelector('.v-dialog .v-card__text').scrollTo(0, 0);
			}
		},
		'$route' (to, from) {
			const tag = to.params['tag'] || '';
			this.loadDiscussions(tag);
    }
	},
	created () {
		const tag = this.$route.params['tag'] || '';
		this.loadDiscussions(tag);
	},
	methods: {
		dialogClose() {
			this.dialogShow = false;
		},
		loadDiscussions(tag, limit) {
			this.busy = true;
			this.items = [];
			const query = { 
				tag: tag || 'kr-used', 
				limit: limit || 100,
			};
			steem.api.getDiscussionsByCreated(query, (err, res) => {
				if (err) return !alert(err);
				// console.log(res);
				this.items = res.map((e) => {
					const created = new Date(`${e.created}Z`).toDateString();
					const payout_value = (parseFloat(e.total_payout_value.split(' ')[0]) + parseFloat(e.curator_payout_value.split(' ')[0]) + parseFloat(e.pending_payout_value.split(' ')[0])).toFixed(3);
					const summary = this.makeSummary(e.body);
					const json_metadata = JSON.parse(e.json_metadata) || {};
					const [ image_url ] = json_metadata['image'] || [];
					const tags = json_metadata['tags'] || [];
					return {
						id: e.id,
						author: e.author,
						body: e.body,
						net_votes: e.net_votes,
						permlink: e.permlink,
						title: e.title,
						url: e.url,
						image_url,
						summary,
						created,
						payout_value,
						tags,
					};
				});
				this.busy = false;
			});
		},
		makeSummary (text) {
			let summary = md.render(text);
			summary = summary.replace(/<(?:.|\n)*?>/gm, '');
			summary = summary.replace(/(\s)+Sponsored \( Powered by dclick \)(.|\n)*/im, '');
			summary = `\n${summary}`.replace(/[^\(='"\/\\](http(s)?:\/\/steemitimages.com\/([0-9]+x[0-9]+)\/)?http(s)?:\/\/(\w*:\w*@)?[-\w.]+(:\d+)?(\/([-\w/_.]*(\?\S+)?)?)?/g, '');
			let sentences = summary.split('\n');
			const findIndex = sentences.findIndex((e)=>/(판매 제품 설명)/g.test(e));
			if(findIndex>0) sentences = ['…'].concat(sentences.slice(findIndex));
			return sentences.join(' ').slice(0, 200);
		}
	}
}
const router = new VueRouter({
	routes : [
		{ path: '/', component: ListComponent },
    { path: '/:tag', component: ListComponent },
	]
});
const app = new Vue({
	el: '#app',
  router,
	data() {
		return {
			theme: 'blue darken-3',
			dark: true,
		}
	},
});
</script>
</body>
</html>